* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0000CD;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

container {
    border-color: white;
}

#hora, #data {
    font-weight: 400;
    font-family: helvetica;
}

#hora {
    font-size: 5em;
}

#data {
    font-size: 3em;
    display: flex;
    justify-content: center;
}