* {
    margin: 0;
    padding: 0;
}

body {
    color: whitesmoke;
    background-color: #4876FF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inithial-box {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid;
    border-radius: 5%;
    border-color: whitesmoke;
}

#hora, #data {
    font-weight: 400;
    font-family: helvetica;
}

#hora {
    font-size: 3.5em;
}

#data {
    font-size: 2em;
    display: flex;
    justify-content: center;
}

footer {
    font-size: 1.2em;
    margin-top: 110px;
}